@import 'color-scheme';
@import 'size-constants';

@mixin colorBorder($color) {
  border-color: $color;
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.grapheel-image-card {
  background-color: #fff;
  margin: 10px;
  float: left;
  width: 200px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 2px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  @media (hover: hover) {
    a &:hover {
      border-width: 3px;
    }
  }
  &.physics-card {
    @include colorBorder(#ffff00);
  }
  &.chemistry-card {
    @include colorBorder(#00f);
  }
  &.biology-card {
    @include colorBorder(#0f0);
  }
  &.maths-card {
    @include colorBorder(#000);
  }
  &.computerScience-card {
    @include colorBorder(#f0f);
  }
  @media screen and (max-width: $phone-width) {
    margin-left: auto;
    width: 100%;
    height: 400px;
  }
  .image-card-level {
    position: absolute;
    right: 0px;
    span {
      float: right;
      text-align: center;
      width: 20px;
      border-radius: 2px;
      &.user-level-above {
        background-color: #afa; // green as user level is high enough
      }
      &.user-level-below {
        background-color: #faa; // red as it's above user's chosen level
      }
    }
  }
  .image-card-image-wrapper {
    flex-grow: 2;
    padding: 10px;
    height: 150px;
    .image-card-image {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #fff;
    }
  }
  .image-card-message {
    padding: 10px;
    flex-grow: 1;
    overflow: hidden;
  }
}
