@import '../../common-resources/size-constants.scss';
@import '../../common-resources/color-scheme.scss';

@mixin colorBorder($color) {
  border-color: $color;
}

.cardHolder {
  @media screen and (min-width: $medium-width) {
    padding: 0 10%;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.main-page-topmessage {
  @media screen and (min-width: $medium-width) {
    padding: 0 10%;
  }
}
.grapheel-image-card {
  background-color: #fff;
  margin: 10px;
  float: left;
  width: 200px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 2px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  @media (hover: hover) {
    a &:hover {
      border-width: 3px;
    }
  }
  &.physics-card { @include colorBorder(map-get($physics-color, background)) }
  &.chemistry-card { @include colorBorder(map-get($chemistry-color, background)) }
  &.biology-card { @include colorBorder(map-get($biology-color, background)) }
  &.maths-card { @include colorBorder(map-get($maths-color, background)) }
  &.computerScience-card { @include colorBorder(map-get($computer-science-color, background)) }
  &.psychology-card { @include colorBorder(map-get($psychology-color, background)) }
  &.finance-card { @include colorBorder(map-get($finance-color, background)) }

  @media screen and (max-width: $phone-width) {
    width: 300px;
    height: 400px;
  }
  .image-card-level {
    position: absolute;
    right: 0px;
    span {
      float: right;
      text-align: center;
      font-size: 10px;
      padding: 1px 5px;
      border-radius: 2px;
      &.user-level-above {
        background-color: #afa; // green as user level is high enough
      }
      &.user-level-below {
        background-color: #faa; // red as it's above user's chosen level
      }
    }
  }
  .image-card-image-wrapper {
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 150px;
    text-align: center;
    .image-card-image {
      max-width: 100%;
      max-height: 100%;
      flex-grow: 0;
    }
  }
  .image-card-message {
    padding: 10px;
    flex-grow: 1;
    overflow: hidden;
  }
}
