@mixin messageMetadata() {
  font-size: 10px;
  color: #999;
  position: absolute;
}
@mixin messageTag($content, $onRight, $onTop) {
  content: $content;
  @include messageMetadata();
  @if $onTop {
    top: -14px;
  } @else {
    bottom: -14px;
  }
  @if $onRight {
    right: 5px;
  } @else {
    left: 5px;
  }
}
.message-page-navigation {
  height: 80vh;
  overflow-y: scroll;
  .message-page-message-preview {
    min-height: 50px;
    margin: 10px;
    border-bottom: 1px solid #ccc;
    .message-preview-image {
      text-align: center;
      img {
        height: 40px;
        max-width: 100%;
        border-radius: 10px;
      }
    }
    .message-preview-message {
      font-size: 0.8em;
      color: #333;
    }
    .message-preview-time {
      font-size: 0.6em;
      color: #aaa;
    }
  }
}

.message-page-message {
  div {
    max-width: 90%;
    padding: 5px;
    border-radius: 2px;
    p {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .fail-message {
      font-size: 10px;
      color: #a22;
      margin-right: 5px;
      left: -60px;
    }
  }
  &.from-me {
    text-align: right;
    div {
      display: inline-block;
      background-color: #fafaff;
      border: 1px solid #cce;
      min-width: 150px;
      margin-right: 0;
      margin-left: auto;
      &::before {
        @include messageTag('me', true, true);
      }
      &::after {
        @include messageTag(attr(data-deltat), false, false);
      }
    }
  }
  &.from-them {
    text-align: left;
    div {
      display: inline-block;
      background-color: #fafafa;
      border: 1px solid #eee;
      min-width: 150px;
      margin-right: auto;
      margin-left: 0;
      &::before {
        @include messageTag('student', false, true);
      }
      &::after {
        @include messageTag(attr(data-deltat), true, false);
      }
    }
  }
  .pending-failed {
    background-color: #fffafa;
    border: 1px solid #ecc;
  }
}
.message-page-content {
  .message-page-messages-box {
    height: 80vh;
    display: flex;
    border-left: 1px solid #eee;
    padding-left: 5px;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    .message-image-box {
      .w3-display-container {
        min-height: 230px;
        img {
          max-height: 220px;
        }
      }
    }
    .messages-box {
      overflow-y: scroll;
    }
    .messages-submit {
      padding: 5px;
    }
  }
}
