@import '../../common-resources/size-constants.scss';

@mixin color-transition($time) {
  transition: $time;
  transition-timing-function: ease-in-out;
  -webkit-transition: $time;
  -webkit-transition-timing-function: ease-in-out;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin custom-box-shadow() {
  box-shadow: 10px 10px 5px #888888;
}

.grapheel-navbar {
  height: 80px;
  width: 100%;
  background-color: #fefefe;
  margin-bottom: 20px;
  box-shadow: 0 5px 3px 0 rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: $phone-width) {
    justify-content: space-around;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  div a { // this is going to be a button
    padding: 0 10px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 100%;
    @media screen and (min-width: $phone-width) {
      padding: 0 50px;
    }
    .navbar__home-button>svg {
      fill: hsl(7, 90, 60);
    }
    svg, img {
      width: 50px;
      height: 50px;
      fill: hsl(146, 43.3, 60);
    }
    &:hover {
      background-color: #333;
      svg {
        filter: brightness(1.8);

      }
    }
    &[aria-current=true] {
      svg {
        .iconCircle {
          fill: #aaa;
        }
      }
    }
  }
}
