@import '../../../commonResources/size-constants';

.card-page-image-wrapper {
  height: 300px;
  text-align: center;
  .card-page-image {
    max-width: 100%;
    height: 100%;
  }
}
.card-panel-right-pane {
  padding-top: 10px;
  min-height: 500px;
  @media screen and (max-width: $medium-width) {
    min-height: auto;
  }
  margin-bottom: 10px;
  padding: 10px;
  background-color: #555;
  color: white;
  border-radius: 5px;
  input {
    &:disabled {
      background-color: #ddd;
      color: #444;
    }
  }
  .classifier-textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.5em;
  }
  #image-classifier-table {
    .table-size-picker {
      width: 30%;
      display: inline;
      margin-left: 10px;
    }
    .table {
      overflow-x: scroll;
      display: grid;
      input {
        border: 0.5px solid #ddd;
      }
      .header {
        font-weight: bold;
        text-align: center;
        background-color: #eee;
      }
    }
  }
}
