@import 'size-constants';
.content-section {
  padding: 0 15%;
  @media screen and (max-width: $medium-width) {
    padding: 0 20px;
  }
  @media screen and (max-width: $phone-width) {
    padding: 0 10px;
  }
}
@import url('https://fonts.googleapis.com/css?family=Raleway');
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}
