@import '../../../common-resources/size-constants';

.content-section {
  padding: 0 40px;
  @media screen and (max-width: $medium-width) {
    padding: 0 20px;
  }
  @media screen and (max-width: $phone-width) {
    padding: 0 10px;
  }
}
