@mixin disable() {
  &:disabled {
    cursor: not-allowed;
    background-color: #eee;
    color: #aaa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  }
}
.iris-button {
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  &:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
  @include disable();
  &.primary {
    background-color: #68d698;
    border-color: #33724f;
    color: #ffffff;
    &:hover {
        background-color: #428760;
    }
    @include disable();
  }
  &.secondary {
    background-color: #6eb5c1;
    border-color: #2d5960;
    color: #ffffff;
    &:hover {
        background-color: #427882;
    }
    @include disable();
  }
  &.action {
    background-color: #ad1313;
    color: #ffffff;
    &:hover {
        background-color: #7f0f0f;
    }
    @include disable();
  }
  &.delete {
    border: 1px solid #ad1313;
    background-color: #fff2f2;
    color: #100;
    &:hover {
        background-color: #ffe2e2;
    }
    @include disable();
    &:disabled {
      background-color: #eee;
      border: 1px solid #ffe2e2;
    }
  }
}
