@import '../../common-resources/size-constants';

@mixin entry-animation() {
  animation: pulse 0.5s;
  animation-fill-mode: both;
  @keyframes pulse {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.home-page {
  margin-top: 20px;
  @supports (display: grid) {
    @media screen and (min-width: $medium-width) {
      min-height: 100vh;
      display: grid;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "licences licences imageFeed"
        "licences licences imageFeed"
        "contact feedback imageFeed";
    }
  }
  .panel {
    color: black;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 5px 4px #ccc;
    @include entry-animation();
    @media screen and (max-width: $medium-width) {
      margin: 10px;
    }
    &.licences {
      grid-area: licences;
      border-radius: 20px;
      background-color: #fff;
    }
    &.image-feed {
      grid-area: imageFeed;
      border-radius: 20px;
      background-color: #fff;
      animation-delay: 0.2s;
    }
    &.contact-us {
      grid-area: contact;
      border-radius: 20px;
      background-color: #fff;
      animation-delay: 0.4s;
    }
    &.feedback {
      grid-area: feedback;
      border-radius: 20px;
      background-color: #fff;
      animation-delay: 0.6s;
    }
  }
}
