@import '../../common-resources/size-constants';

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes slideUp {
  0% { transform: translate(0, 30px); }
  100% { transform: translate(0, 0); }
}
.home-page {
  @supports (display: grid) {
    @media screen and (min-width: $phone-width) {
      margin: 20px;
      min-height: calc(100vh - 40px);
      display: grid;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      @media screen and (min-width: $medium-width) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
          "licences licences imageFeed"
          "licences licences imageFeed"
          "contact feedback imageFeed";

        .panel {
          &.licences {
            max-height: calc(66.67vh - 40px);
          }
          &.panel.image-feed {
            max-height: calc(100vh - 40px);
          }
        }
      }
      @media screen and (max-width: $medium-width) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "licences licences"
          "licences licences"
          "imageFeed imageFeed"
          "contact feedback";
      }
    }
  }
  .panel {
    color: black;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 5px 4px #ccc;
    animation:
      fadeIn 0.3s,
      slideUp 0.3s;
    animation-fill-mode: both;
    @media screen and (max-width: $phone-width) {
      margin: 10px;
    }
    &.licences {
      grid-area: licences;
      border-radius: 20px;
      background-color: #fff;
    }
    &.image-feed {
      grid-area: imageFeed;
      border-radius: 20px;
      background-color: #fff;
      animation-delay: 0.1s;
    }
    &.feedback {
      grid-area: feedback;
      border-radius: 20px;
      background-color: #fff;
      animation-delay: 0.2s;
    }
    &.contact-us {
      grid-area: contact;
      border-radius: 20px;
      background-color: #fff;
      animation-delay: 0.3s;
    }
  }
}
