.licence-owner-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100vw;
  background-color: #eee;
  .panel {
    color: black;
    background-color: white;
    max-width: 800px;
    width: calc(100% - 20px);
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 5px 4px #ccc;
    animation:
      fadeIn 0.3s,
      slideUp 0.3s;
    animation-fill-mode: both;
    @media screen and (min-width: $phone-width) {
      margin: 10px;
      width: 80%;
    }
    img {
      max-width: 100%;
      max-height: 700px;
    }
    ul {
      border-top: 1px solid #ddd;
      margin: 0;
      padding: 0;
      li {
        border-bottom: 1px solid #ddd;
        list-style-type: none;
        padding-bottom: 10px;
      }
    }
  }
}
