@import '../../common-resources/size-constants';

.licences {
  overflow-y: scroll;
  ul {
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 0;
    .iris-licence {
      border-bottom: 1px solid #ddd;
      list-style-type: none;
      padding-bottom: 10px;
      h3 {
        font-size: 1.2em;
      }
    }
  }
  .floating {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 5px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    @media screen and (max-width: $medium-width) {
      position: unset;
      float: right;
    }
  }
}
