@import url('https://fonts.googleapis.com/css?family=Raleway:medium');
.app {
  div, p, span, h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
  }
}

.iris-narrow-page {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}
