$mint-color: #87eeb4;
$red-color: #f24d36;

$physics-color: ( text: #000, background: #ffff00 );
$chemistry-color: ( text: #000, background: #00f );
$biology-color: ( text: #000, background: #0f0 );
$maths-color: ( text: #fff, background: #000 );
$computer-science-color: ( text: #000, background: #f0f );
$psychology-color: ( text: #000, background: #9800ff );
$finance-color: ( text: #000, background: #a7db1a );

$primaryButton: ( text: #ffffff, normal: #58b580, hover: #428760, border: #33724f );
$secondaryButton: ( text: #ffffff, normal: #6eb5c1, hover: #427882, border: #2d5960 );
$tertiaryButton: ( text: #444444, normal: #ffffff, hover: #dddddd, border: #aaaaaa );
$actionButton: ( text: #ffffff, normal: #ad1313, hover: #7f0f0f, border: #ad1313 );
$deleteButton: ( text: #110000, normal: #fff2f2, hover: #ffe2e2, border: #ad1313 );
