$mint-color: #87eeb4;
$red-color: #f24d36;

$physics-color: ( text: #000, background: #ffff00 );
$chemistry-color: ( text: #000, background: #00f );
$biology-color: ( text: #000, background: #0f0 );
$maths-color: ( text: #fff, background: #000 );
$computer-science-color: ( text: #000, background: #f0f );
$psychology-color: ( text: #000, background: #9800ff );
$finance-color: ( text: #000, background: #a7db1a );
