@import './IrisFont';
@import 'color-scheme';

input.iris-input {
  // border: 1px solid #eee;
  @include iris-font();
  padding: 10px 10px;
  margin: 10px 0;
  display: block;
  border-radius: 4px;
  outline: none;
  border: 1px solid #DDDDDD;
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -ms-transition: all 0.10s ease-in-out;
  -o-transition: all 0.10s ease-in-out;
  &:focus {
    box-shadow: 0 0 5px $mint-color;
    border-color: $mint-color
  }
  &.invalid {
    border: 1px solid lighten($red-color, 30%);
    &::after {
      content: "Invalid email address!";
    }
    &:focus {
      box-shadow: 0 0 5px $red-color;
      border-color: $red-color
    }
  }
  &.iris-input__full-width {
    width: 100%;
  }
}
