@import './IrisFont';

.iris-alert {
  border: 1px  solid #888;
  @include iris-font();
  border-radius: 10px;
  margin: 20px 0;
  padding: 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  &.info {
    border-color: #58f;
  }
  &.warning {
    border-color: #a33;
  }
  &.success {
    border-color: #3a3;
  }
  .iris-alert-close-button {
    border-radius: 10px;
    position: absolute;
    right: 1px;
    top: 1px;
    background-color: none;
    font-size: 25px!important;
    // padding: 3px 15px;
    width: 50px;
    height: 50px;
    border: none;
    &:hover {
      font-weight: bold;
      background-color: #eee;
    }
  }
}
