@import 'color-scheme';
@import 'size-constants';
@import './IrisFont';

$primaryButton: ( text: #ffffff, normal: darken($mint-color, 35%),
  hover: darken($mint-color, 45%), border: darken($mint-color, 60%) );

$secondaryButton: ( text: #ffffff, normal: $blue-color,
  hover: darken($blue-color, 10%), border: darken($blue-color, 30%) );

$tertiaryButton: ( text: #444444, normal: #ffffff, hover: #dddddd, border: #aaaaaa );

$actionButton: ( text: #ffffff, normal: $red-color,
  hover: darken($red-color, 10%), border: darken($red-color, 30%) );

$deleteButton: ( text: #110000, normal: #fff2f2, hover: #ffe2e2, border: #ad1313 );


@mixin disable() {
  &:disabled {
    cursor: not-allowed;
    background-color: #eee;
    color: #aaa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  }
}
@mixin buttonStyle($button) {
  background-color: map-get($button, normal);
  border-color: map-get($button, border);
  color: map-get($button, text);
  &:hover {
      background-color: map-get($button, hover);
  }
  @include disable();
}
.iris-button {
  border: 1px solid #ddd;
  @include iris-font();
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: auto;
  white-space: nowrap;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  &:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
  @include disable();
  &.primary {
    @include buttonStyle($primaryButton);
  }
  &.secondary {
    @include buttonStyle($secondaryButton);
  }
  &.tertiary {
    @include buttonStyle($tertiaryButton);
  }
  &.action {
    @include buttonStyle($actionButton);
  }
  &.delete {
    @include buttonStyle($deleteButton);
    &:disabled {
      background-color: #eee;
      border: 1px solid #ffe2e2;
    }
  }
  @media screen and (max-width: $phone-width) {
    width: 100%;
    margin: 5px 0;
  }
}
a.iris-button {
  cursor: pointer;
}
