@import './IrisFont';

body {
  margin: 0px;
}
.app {
  div, p, span, h1, h2, h3, h4, h5, h6 {
    @include iris-font();
  }
  h1 {
    font-size: 36px;
  }
}
.iris-narrow-page {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}
